body{
    font-family: Arial;
    background-color: cornsilk;
}
table,th,td{
    border-collapse: collapse;
}
.row{
    clear: both;
}
.row:after {
    content: "";
    display: table;
}

.column{
    float: left;
}
.gridColumn{
    padding: 0px;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.gridRow{

}
#gameDiv{
}
#menuDiv{
    width: 20%;
}
#playerDiv{
    border: solid 2px gray;
    overflow-x: auto;
    height: 200px;
}
#chatDiv{
    height: 400px;
    overflow-x: auto;
    border: solid 2px gray;
}
#mainDiv{
}

#gameMap{
    background-size: 100% 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
    table-layout: fixed;
}

.logout{
    float: right;
}
#username{
    display: inline;
}

.header{
    float: left;
}

.token{
    display:block;
    max-height: inherit;
    max-width: inherit;
    width: 100px;
    height: 100px;
}

.menuToken{
    float: left;
    display:block;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

#headerDiv{
    display: block;
}

.clearer{
    clear: both;
}

#tokenList{
    display: block;
    float: left;
    width: 100%;
    background-color: cornsilk;
    border: gray 2px solid;
}

#tokenBin{
    float: right;
    display:block;
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.playerCell{
    border: gray solid 1px;
    padding: 5px;
}
#playerList{
    width: 100%;
}
.chatMessage{
    padding-left: 5px;
    border-bottom: white solid 1px;

}