body{
    font-family: Arial;
}
table,th,td{
    border-collapse: collapse;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
}
.gridColumn{
    padding: 0px;
    border: 1px solid black;
    height: 50px;
    width: 50px;
}

.gridRow{

}
#menuDiv{
    width: 20%;
    background-color: gray;
}
#mainDiv{
}

#gameMap{
    background-image: url('https://media.52poke.com/wiki/f/ff/%E9%87%91%E9%BB%83%E5%B8%82_HGSS.png');
    background-size: 100% 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

#logout{
    float: right;
}

.token{
    max-height: inherit;
    max-width: inherit;
    width: 100px;
    height: 100px;
}